.gear_box{
    width: 100%;
    min-height: 1325px;
    max-height: 1325px;
    
    background-color: #EAEAEA;
    #brand_div{
        display: none;
        transition: all 1000ms ease;
    }
    #brand_div.active{
        display: block;

    }
    h1{
        display: block;
    }
    li{
        list-style-type: circle;
    }
}
.slick-track{
    margin-top: 1%;
}
.carousel_row{
    height: 180px;
}