<%# <div id="box_container" class="row">
    <div  class="col-md-4 col-sm-12">
        <div id="body_box_1" class="col-md-12 box">
            <img class="box_logos" src="/assets/mc_boxes/your_gear.png" alt="your_gear.png" />
            <p>We love it when you bring your personal gear!</p>
            <p>A familiar guitar can help put you at ease during the recording process, but we also have a wide variety of guitars, amps, and mics at your disposal if you desire.</p>
            <a href="/gear"><span>Click for detailed list of available equipment.</span></a>
            <!-- Image Background Will Go Here Once Client Finally Sends Them-->
            
        </div>
    </div>
    <div  class="col-md-4 col-sm-12">
        <div id="body_box_2" class="col-md-12 box">
            <img class="box_logos" src="/assets/mc_boxes/your_sound.png" alt="your_sound.png" />
            <!-- Image Background Will Go Here Once Client Finally Sends Them-->
            <p class="smll_txt"> You've spent time writing your material and honing your craft.</p>
            <p><span> Now it's time to capture it!</span> </p>
            <p class="smll_txt"> Have you tried recording and mixing your own msuic?</p>
            <p class="smll_txt"> Have you become frustrated with the process?</p>
            <p class="smll_txt"> Let us help you turn your next project into something truly deserving of the time you've invested in it.</p>
        
        </div>
    </div>
    <div class="col-md-4 col-sm-12">
        <div id="body_box_3" class="col-md-12 box">
            <img class="box_logos" src="/assets/mc_boxes/your_studio.png" alt="your_studio.png" />

            
            <p class="smll_txt">Our goal is to give you a fun and comfortable studio environment that puts you at ease, and brings out the best in every song you record.</p>
            <div class="box_quote">
                <q> My experience at the GoodShed has been amazing! Christian has a great way of bringing your 
                    music to life and does it in a way that's intuitive to you. He hears it the way you want it 
                    heard, which is a quality that's very rare and hard to find in a music producer. I highly 
                    recommend starting here, whether you are recording your first song or 10th album. 
                </q>
                <footer>- Travis Williams</footer>
            </div>
        </div>
    </div>
</div> %>

    <div class="row">
        <div class="box col">
            <img class="box_logos" src="/assets/mc_boxes/new_design/reflect_test.png" alt="your_gear.png" />
        </div>
        <div class="box col">
            <div class="txt_box">
                <p>We love it when you bring your personal gear!</p>
                <p>A familiar guitar can help put you at ease during the recording process, but we also have a wide variety of guitars, amps, and mics at your disposal if you desire.</p>
                <p><a href="/gear">Click for detailed list of available equipment.</a></p>
            </div>
            <img id="small_logos" src="/assets/mc_boxes/new_design/small_shed_white.png" alt="g_circle_white.png" />
        </div>
    </div>
    <div id="header_end"></div>
    <div class="row off_row">
        <div class="box">
            <div class="txt_box">
                <p class="smll_txt b_txt"> You've spent time writing your material and honing your craft.</p>
                <p class="b_txt"><span> Now it's time to capture it!</span> </p>
                <p class="smll_txt b_txt"> Have you tried recording and mixing your own msuic?</p>
                <p class="smll_txt b_txt"> Have you become frustrated with the process?</p>
                <p class="smll_txt b_txt"> Let us help you turn your next project into something truly deserving of the time you've invested in it.</p>
            </div>
            <img id="small_logos" src="/assets/mc_boxes/new_design/small_shed.png" alt="g_circle_black.png" />
        </div>
        <div class="box">
            <img class="box_logos" src="/assets/mc_boxes/new_design/your_sound.png" alt="your_sound.png" />
        </div>
    </div>
    <div id="header_end"></div>
    <div class="row">
        <div class="box">
            <img class="box_logos" src="/assets/mc_boxes/new_design/shed_logo.png" alt="shed_logo.png" />
        </div>
        <div class="box">
            <div class="row_med">
                <h2>OUR GOAL</h2>
                <div class="t_box">
                    <div class="box_quote">
                        <q> My experience at the GoodShed has been amazing! Christian has a great way of bringing your 
                            music to life and does it in a way that's intuitive to you. He hears it the way you want it 
                            heard, which is a quality that's very rare and hard to find in a music producer. I highly 
                            recommend starting here, whether you are recording your first song or 10th album. 
                        </q>
                        <footer>- Travis Williams</footer>
                    </div>
                </div>
            
                <div class="t_box">
                    <div class="box_quote">
                        <q> My experience at the GoodShed has been amazing! Christian has a great way of bringing your 
                            music to life and does it in a way that's intuitive to you. He hears it the way you want it 
                            heard, which is a quality that's very rare and hard to find in a music producer. I highly 
                            recommend starting here, whether you are recording your first song or 10th album. 
                        </q>
                        <footer>- Travis Williams</footer>
                    </div>
                </div>
            </div>
            
            <img id="small_logos" src="/assets/mc_boxes/new_design/small_shed_white.png" alt="g_circle_white.png" />
            
        </div>
    </div>