    <div class="row">
        <div class="box col">
            <h2>Travis Williams</h2>
        </div>
        <div class="box col">
            <div class="txt_box">
                <div class="box_quote">
                        <p> " My experience at the GoodShed has been amazing! Christian has a great way of bringing your 
                            music to life and does it in a way that's intuitive to you. He hears it the way you want it 
                            heard, which is a quality that's very rare and hard to find in a music producer. I highly 
                            recommend starting here, whether you are recording your first song or 10th album. " 
                        </p>
                </div>
            </div>
            <img id="small_logos" src="/assets/mc_boxes/new_design/small_shed_white.png" alt="g_circle_white.png" />
        </div>
    </div>
    <div id="header_end"></div>
    <div class="row off_row">
        <div class="box col">
            <h2 class="b_txt">Travis Williams</h2>
        </div>
        <div class="box col">
            <div class="txt_box">
                <div class="box_quote">
                        <p class="b_txt"> " My experience at the GoodShed has been amazing! Christian has a great way of bringing your 
                            music to life and does it in a way that's intuitive to you. He hears it the way you want it 
                            heard, which is a quality that's very rare and hard to find in a music producer. I highly 
                            recommend starting here, whether you are recording your first song or 10th album. " 
                        </p>
                </div>
            </div>
            <img id="small_logos" src="/assets/mc_boxes/new_design/small_shed.png" alt="g_circle_white.png" />
        </div>
    </div>
    <div id="header_end"></div>
    <div class="row">
        <div class="box col">
            <h2>Travis Williams</h2>
        </div>
        <div class="box col">
            <div class="txt_box">
                <div class="box_quote">
                        <p> " My experience at the GoodShed has been amazing! Christian has a great way of bringing your 
                            music to life and does it in a way that's intuitive to you. He hears it the way you want it 
                            heard, which is a quality that's very rare and hard to find in a music producer. I highly 
                            recommend starting here, whether you are recording your first song or 10th album. " 
                        </p>
                </div>
            </div>
            <img id="small_logos" src="/assets/mc_boxes/new_design/small_shed_white.png" alt="g_circle_white.png" />
        </div>         
    </div>
    